<!DOCTYPE html>

	
<html>

    <head>
	
		<title>#{get 'title' /}</title>
		<meta charset="${_response_encoding}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        
    </head>
	
	<div id = "geral">
	
    <body>
	
		<div id = "logo">
			<a href="javascript:location.reload(true);"><img alt = "scp" src = "@{'/public/images/scplogo.png'}"></a>	
		</div>
		
		
		#{if session.user != null}
	
		<div id = "menu">
		<a href="@{Application.index()}"><FONT SIZE=+2> <b>HOME</b></font></a>
		<a href="@{Clientes.index()}"><FONT SIZE=+2><b>CLIENTES</b></font></a>
		<a href="@{Pacotes.index()}"><FONT SIZE=+2><b>PACOTES</b></font></a>
		<a href="@{Statuses.index()}"><FONT SIZE=+2><b>STATUS</b></font></a>
		<a href="@{Pedidos.index()}"><FONT SIZE=+2><b>PEDIDOS</b></font></a>
		<a href="@{Funcionarios.index()}"><FONT SIZE=+2><b>FUNCIONARIO</b></font></a>
		<a href="@{Application.busca()}"><FONT SIZE=+2><b>BUSCA</b></font></a>
		<a href="@{Authenticate.logout()}"><FONT color = "red" SIZE=+2><b>LOGOUT</b></font></a>
		</div>

		
		<div id = "bot">
			#{doLayout /}
		</div>	
		
		#{/if}
		
		#{else}
		<div id = "menu">
			<a href="@{Authenticate.login()}"><FONT SIZE=+2><b>LOGIN</b></font></a>
		</div>
		
		#{/else}
	
	<br>
		</a>
		<div id = "imageindex">
			<b><font color = "red">Em manutencao!</font></b><br><br>
			
			<font color = "black">Sistema de Controle de Pedidos (SCP) - Esquecendo as planilhas...</font>
			<br>
			
			
			 <img alt = "req" src = "@{'/public/images/req.jpg'}">	
 		</div>
    </body>
	
	
	</div>

</html>
