

* {
	margin:40;
	padding: 60;
}


body {

background-color: white;
background-position: absolute;
background-width: 100%;
background-height: 100%;
background-repeat: no-repeat;
text-align: center;

font: italic 10pt Verdana, Sans-serif;

}