#{extends 'main.html' /}
#{set title:'Edição' /}

#{form @Pedidos.editar_pedido(pedidos.id)}
	#{ifErrors}
	  <div class="linha"><p style="color:red;"><strong>ATENÇÃO: </strong>Preencha todos os campos obrigatórios.</p></div>
		<div class="linha"></div>
   #{/ifErrors}

	<div class="linha">
		<div class="duas-colunas">
			<div class="esq">
				<p><label for="cliente">Cliente:</label></p>
			</div>
			<div class="dir">
			<p><select name="cliente" style="width: 250px"><OPTION> #{list items:clientes, as:'d'} <option>${d.pnome} #{/list}</select></p>
			</div>
		</div>
	</div>
	<div class="linha">
		<div class="duas-colunas">
			<div class="esq">
				<p><label for="pacote">Pacotes:</label></p>
			</div>
			<div class="dir">
			<p><select name="pacote" style="width: 250px"><OPTION> #{list items:pacotes, as:'d'} <option>${d.nome} #{/list}</select></p>
			</div>
		</div>
	</div>
	<div class="linha">
		<div class="duas-colunas">
			<div class="esq">
				<p><label for="status">Status:</label></p>
			</div>
			<div class="dir">
			<p><select name="status" style="width: 250px"><OPTION> #{list items:statuses, as:'d'} <option>${d.nome} #{/list}</select></p>
			</div>
		</div>
	</div>
	<div class="linha">
		<div class="duas-colunas">
			<div class="esq">
				<p><label for="formaPag">Forma de Pagamento:</label></p>
			</div>
			<div class="dir">
				<p><input type="text" name="formaPag" id="formaPag" value="${pedidos.formaPag}"/></p>
			</div>
		</div>
	</div>
	<div class="linha">
		<div class="duas-colunas">
			<div class="esq">
				<p><label for="funcionario">Funcionario:</label></p>
			</div>
			<div class="dir">
			<p><select name="funcionario" style="width: 250px"><OPTION> #{list items:funcionarios, as:'d'} <option>${d.pnome} #{/list}</select></p>
			</div>
		</div>
	</div>
	<div class="linha">
		<div class="duas-colunas">
			<div class="esq">
				<p><label for="numPedido">Numero de Pedido:</label></p>
			</div>
			<div class="dir">
				<p><input type="text" name="numPedido" id="numPedido" value="${pedidos.numPedido}"/></p>
			</div>
		</div>
	</div>
	<div class="linha">
		<div class="duas-colunas">
			<div class="esq">
				<p><label for="dataInscricao">Data de Inscricao:</label></p>
			</div>
			<div class="dir">
				<p><input type="text" name="dataInscricao" id="dataInscricao" value="${pedidos.dataInscricao}"/></p>
			</div>
		</div>
	</div>
	<div class="linha">
		<div class="duas-colunas">
			<div class="esq">
				<p><label for="dataCadastro">Data de Cadastro:</label></p>
			</div>
			<div class="dir">
				<p><input type="text" name="dataCadastro" id="dataCadastro" value="${pedidos.dataCadastro}"/></p>
			</div>
		</div>
	</div>
	<div class="btn-submit">
		<p><input type="submit" value="Editar o Pedido" /></p>
	</div>
	
#{/form}

<div class="menuTools">
	<p><a href="@{Pedidos.index()}">Voltar</p>
	</div>
