<html>

<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    #{get 'moreScripts' /}
</head>

<body>
	<div id = "logo">
			<a href="javascript:location.reload(true);"><img src = "@{'/public/images/scplogo.png'}"></a>	
			</div>
	<div id = "geral">

		<div id = "menu">
		
		<h3>Login SCP</h3>
				
		</div>
		<div id="content">
			<p>
				Para logar no SCP, preencha os campos abaixo:
				</p>
				<p>
				Se ainda nao esta cadastrado <a href="@{Authenticate.register()}">clique aqui.</a>.
			</p>
			<div id="loginForm">
				<form action="@{Authenticate.doLogin()}" method="POST">
					<p class="field">
						<span class="error">#{error 'username' /}</span>
						<label><b>Username:</b></label>
						<input type="text" name="username" value="${flash['username']}" />
					</p>
					<p class="field">
						<span class="error">#{error 'password' /}</span>
						<label><b>Password:</b></label>
						<input type="password" name="password" />
					</p>
					<input type="submit" name="create" value="Login"/>
				</form>
			
			</div>
		</div>

	</div>
</body>
</html>